.event-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}

.event-info-image img {
  max-width: 100%;
  height: auto;
}

.event-info-text {
  margin-top: 30px;
  text-align: center;
}

.event-info-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.event-info-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn-rsvp {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #c62828;
  color: #fff;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .event-info-container {
    padding: 30px;
  }

  .event-info-text h2 {
    font-size: 1.5rem;
  }

  .event-info-text p {
    font-size: 1rem;
  }

  .btn-rsvp {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 414px) {
  .event-info-container {
    padding: 20px;
  }

  .event-info-text h2 {
    font-size: 1.2rem;
  }

  .event-info-text p {
    font-size: 1rem;
  }

  .btn-rsvp {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 412px) {
  .event-info-container {
    padding: 20px;
  }

  .event-info-text h2 {
    font-size: 1.2rem;
  }

  .event-info-text p {
    font-size: 1rem;
  }

  .btn-rsvp {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 375px) {
  .event-info-container {
    padding: 20px;
  }

  .event-info-text h2 {
    font-size: 1rem;
  }

  .event-info-text p {
    font-size: 0.9rem;
  }

  .btn-rsvp {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}
