.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #ffffff;
  background-image: url(../../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  
  .hero-content {
  text-align: center;
  max-width: 800px;
  padding: 2rem;
  }
  
  .hero-title {
  font-family: 'Luckiest Guy', cursive;
  font-size: 4rem;
  color: #FF6B6B;
  margin-bottom: 1rem;
  }
  
  .hero-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 2rem;
  }
  
  .cta-button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: #58B19F;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  }
  
  .cta-button:hover {
  background-color: #F7DC6F;
  }
  
  @media (max-width: 768px) {
  .hero-title {
  font-size: 3rem;
  }
  
  .hero-description {
  font-size: 1.2rem;
  }
  
  .cta-button {
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  }
  }
  
  @media (max-width: 414px) {
    .hero {
      height: 65vh;
    }
    .hero-content {
      margin-top: -70px;
    }
  .hero-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.hero-description {
  font-size: 1.rem;
  margin-bottom: 50px;
  }
  
  .cta-button {
  font-size: 1rem;
  padding: 1.5rem 3.5rem;
  border-radius: 8px;
  font-size: 1.4rem;
  }
  }


  @media (max-width: 375px) {
    .hero {
      height: 65vh;
    }
    .hero-content {
      margin-top: -70px;
    }
    .hero-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .hero-description {
    font-size: 1.rem;
    margin-bottom: 50px;
    font-weight: 600;
    }
    
    .cta-button {
    font-size: 1rem;
    padding: 1.5rem 3.5rem;
    border-radius: 8px;
    font-size: 1.4rem;
    }
  }