.rsvp-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 700px;
  }
  
  .rsvp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  input,
  select {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: 5px;
    border: 1px solid;
    
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><path d="M0 2.5l4 4 4-4h-8z"/></svg>');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right center;
    padding-right: 30px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #388e3c;
  }

/* For screen sizes above 768px */
@media (max-width: 768px) {
    .rsvp-form-container {
      max-width: 800px;
      margin: 50px auto;
    }
  
    .rsvp-form {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
    }
  
    .form-group {
      width: calc(50% - 10px);
      margin: 0 0 0 10px;
    }
  
    button[type="submit"] {
      margin-top: 30px;
      align-self: flex-end;
    }
  }
  
  /* For screen sizes above 414px */
  @media (max-width: 414px) {
    .rsvp-form {
      padding: 30px;
    }
  
    input,
    select {
      font-size: 1.1rem;
      padding: 8px;
    }
  }
  
  /* For screen sizes above 412px */
  @media (max-width: 412px) {
    .form-group {
      margin: 0 0 20px 0;
    }
  }
  
  /* For screen sizes above 375px */
  @media (max-width: 375px) {
    .rsvp-form {
      padding: 20px;
    }
  
    input,
    select {
      font-size: 1rem;
      padding: 6px;
    }
  }
  